---
- hosts: all
  become: true
  gather_facts: true

  tasks:
    - name: Install PHP on Ubuntu
      apt:
        name: php
        state: present
      when: ansible_facts['distribution'] == 'Ubuntu'

    - name: Install PHP on CentOS
      yum:
        name: php
        state: present
      when: ansible_facts['distribution'] == 'CentOS'

  roles:
#    - script-runner
#    - apache
    - nginx
#    - terraform
#    - docker
