---

- hosts: all
  become: true
  tasks:
  - name: cache update
    apt:
      update_cache: yes

  - name: Update packages
    apt:
      update_cache: yes
    when: ansible_distribution == "Ubuntu"

  - name: Install PHP
    apt:
      name: php
      state: present
    when: ansible_distribution == "Ubuntu"


  roles:
  - script-runner
  - apache
  - nginx
